@import url("https://fonts.googleapis.com/css2?family=Exo:wght@367&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

body {
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-weight: 367;
  font-style: normal;

  background-color: #f8f9fa;
  color: #212529;
  margin: 0;
  padding: 0;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p.lead {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.dark-mode .btn-primary {
  background-color: #375a7f;
  border-color: #375a7f;
}

.dark-mode .btn-secondary {
  background-color: #444;
  border-color: #444;
}

.grecaptcha-badge {
  visibility: visible;
}

#loadingSpinner {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
